.newproduct{
    border-bottom: 1px solid #ebebeb;
}
.bg_icon{
    padding-top:2px;   
    background-image: url(/assets/image/time.PNG);
    background-position: TOP center;
    background-repeat: no-repeat; 
    width: 100%; 
}
.box_product{
        border: 10px solid transparent;
        padding: 15px;
        border: 2px solid #ebebeb;
        min-height: 1300px;
        margin-top: 10px;
}
.step{
    min-height: 20px;
    padding-right: 50px;
    text-align: right;
}
.step .excute{
    width: 20px;
    height: 20px;
    background-color: #f4574c;
    float: right;
    border-radius: 50%;
    text-align: center
}
.step .excute:hover{
    border: 1px solid  #f4574c;
    background-color: white;
}

.active{ 
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid  #f4574c;
    float: right;
    border-radius: 50%;
    text-align: center;
}
